/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

.app {
    font-family: "Comic Sans MS";
    display: flex;
    justify-content: space-between;
}

.app img {
    transform: rotate(0deg);
    transition: all 1s ease;
    animation: 2s ease infinite alternate rotate;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

* {
    cursor: url(https://cdn.custom-cursor.com/db/9692/32/among-us-stormtrooper-cursor.png) , default!important;
}

a, button, input {
    cursor: url(https://cdn.custom-cursor.com/db/9691/32/among-us-stormtrooper-pointer.png) , pointer!important;
}

.app .content {
    background: rgba(255, 0, 0, 0.85);
    color: lime;
    width: fit-content;
    padding: 30px 15vh;
    border: blue dotted 2vw;
    border-radius: 20vw;
    box-shadow: gold 30px 30px;
    transform: rotate(20deg);
}

button {
    border-radius: 50%;
    background: coral;
    color: aquamarine;
}

button:hover {
    border-radius: 0;
    background: blue;
    color: lightgoldenrodyellow;
}

.medias-gifs {
  display: flex;
  flex-direction: column;
}

.welcome-title {
  text-align: center;
}

.welcome-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome-div img {
  transform: none;
  transition: none;
  animation: none;
  width: 80px;
  height: 80px;
}